body {
    background-image: url("../resources/background.jpg");
}

.logo {
    width: 125px;
}

img {
    width: 350px;
}

footer {
    background-color: rgba(60, 47, 47, 0.7);
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    
    position: absolute;
    width: 100%;
    bottom: 0px;
}

button {
    border: 10px;
}